<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- duser 테이블 mapper 파일 -->
<mapper namespace="com.spring.dao.LoginDAO">
	<!-- 1. 로그인 -->
	<select id="login" resultType="MemberDTO" parameterType="MemberDTO">
		select member_no, member_id, member_password, member_code
		from member
		where member_id = #{member_id}
	</select>

	<!-- 2. 아이디 중복체크 -->
	<select id="idCheck" resultType="String" parameterType="String">
		select member_id
		from member
		where member_id = #{member_id}
	</select>
	
	<!-- 로그인 쿼리문 -->
	<select id="cnt" resultType="String">
		<![CDATA[
			SELECT COUNT(*) AS CNT
			FROM member 
			WHERE member_id = #{member_id}  
			AND member_password = #{member_password}
		]]>
	</select>

	<!-- 3. 회원 가입 -->
	<insert id="register" parameterType="MemberDTO">
		<selectKey resultType="int" keyProperty="member_no" order="BEFORE">
			SELECT IFNULL(MAX(MEMBER_NO), 0) + 1 AS MEMBER_NO FROM MEMBER
		</selectKey>
		INSERT INTO MEMBER
		(MEMBER_NO, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_GANDER, MEMBER_BIRTH_YEAR, MEMBER_BIRTH_MONTH, MEMBER_BIRTH_DATE,
		 MEMBER_POSTCODE, MEMBER_ROADADDRESS, MEMBER_DETAILADDRESS, MEMBER_PHONE, MEMBER_EMAIL, MEMBER_REGDATE, MEMBER_CODE)
		VALUES(#{member_no}, #{member_id}, #{member_password}, #{member_name}, #{member_gander}, #{member_birth_year},
			   #{member_birth_month}, #{member_birth_date}, #{member_postCode}, #{member_roadAddress}, #{member_detailAddress}, 
			   #{member_phone}, #{member_email}, now(), 'U')
	</insert>

	<!-- 4. 회원 조회 -->
	<select id="selectProfile" resultType="MemberDTO" parameterType="String">
		select * from member
		where member_id = #{member_id}
	</select>

	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="String">
		delete from member
		where member_id
		= #{member_id}
	</delete>

</mapper>